:root {
    

    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-cyan-dark: hsl(179, 64%, 37%);
    --clr-primary-yellow:hsl(71, 73%, 54%);

    --clr-light-gray: hsl(204, 43%, 93%);
    --clr-grayish-blue:hsl(218, 22%, 67%);
 
}

html {
    margin: 0;
    padding:0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: var(--clr-light-gray);
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    /* padding:1.5rem; */
}

.container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* padding: 1.5rem; */
}

.card {
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow:hidden;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin: .8em;
}

@media screen and (min-width:700px) {

    .card {
        max-width:700px;
    }
}
.community {
    background-color: white;
    padding: 1.2rem;
    
}

.community__header {
    font-size: 1.4rem;
    color: var(--clr-primary-cyan);
    padding: 1rem 0;
    
}

.community__header--green {
    font-size: 1.1rem;
    color: var(--clr-primary-yellow);
    padding-bottom: 1rem;
}

.community__header--ltgray {
    line-height: 1.5rem;
    color: #b1b1b1;
}


.subscription {
    /* border: 1px solid red; */

    background-color: var(--clr-primary-cyan-dark);
    padding: 1.2rem;
}
@media screen and (min-width: 700px) {
    
    .row {
        display:flex;
        justify-content: space-evenly;
    }

    .subscription{
        flex:1;
        padding:2em;
    }
}
    



.subscription__header {
    font-size: 1.2rem;
    color: var(--clr-light-gray);
    padding: 1rem 0;
}

.subscription__drop-cap {
    font-size: 2rem;
    color: var(--clr-light-gray);
}

.subscription p {
    color:white;
}

.subscription-btn {
    margin-top: 1.5em;
    text-align: center;
}

.subscription__button {

    /*  Border none makes it flat!!!!! */
    border: none;
    outline: none;
    min-width: 100%;
    min-height: 100%;
    color: var(--clr-light-gray);
    padding: 1em 0;
    background-color: var(--clr-primary-yellow);
    border-radius: 5px;

    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.subscription__link {
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.why-us {
    background-color: var(--clr-primary-cyan);
    padding: 1.2rem;
}

@media screen and (min-width: 700px) {
    
    .why-us{
        flex:1;
        padding:2em;
    }
}

.why-us__header {
    font-size: 1.2rem;
    color: var(--clr-light-gray);
    padding: 1rem 0;
}

.why-us__list {

    list-style: none;
    font-size: .9rem;
    color: var(--clr-light-gray);
}

.why-us__list li {
    margin-bottom: .4em;
}